body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
}
a {
  color: #ffffff;
}
h2,
h3,
h4,
h5 {
  line-height: 40px;
}
p {
  font-weight: 300;
}
span {
  color: #18cfab;
}
.background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content {
  width: 1160px;
  margin: 0 auto;
}
.btn {
  padding: 16px 29px;
  font-size: 15px;
  line-height: 32px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
.btn-white-border {
  border-top: 5px solid #ffffff;
}
/*Header*/
.header {
  background-image: url(../img/BG-header.png);
}
/*Header-menu*/
.header-menu {
  background: rgba(94, 93, 88, 0.6);
}
.header-menu .content {
  display: flex;
}
.header-menu-logo {
  display: flex;
  flex-grow: 1.2;
  justify-content: end;
}
.header-menu-logo a {
  display: flex;
}
.header-menu-logo-img {
  background: center / contain no-repeat url(../img/logo.svg);
  font-size: 40px;
  line-height: 31px;
  align-self: center;
  padding: 18px;
}
.header-menu-logo div:last-of-type {
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  align-self: center;
  padding-left: 6px;
}

.header-menu-item {
  display: flex;
  flex-grow: 3;
  justify-content: center;
}

.header-menu-item li {
  padding: 49px 10.5px;
  text-transform: uppercase;
  align-self: center;  
  border-bottom: 2px solid initial;
}
.header-menu-item li:hover{
  border-bottom: 2px solid rgba(24, 207, 171, 1);
}

.header-menu-item a {
  color: rgba(255, 255, 255, 0.6);
  vertical-align: center;
}
.header-menu-item button {
  border: none;
  background-color: inherit;
}
/*Header-content*/

.header-content h2 {
  font-size: 35px;
  padding-top: 264px;
}
.header-content h1 {
  font-size: 78px;
  padding: 22px 0 30px;
}
.header-content h3 {
  font-weight: normal;
  font-size: 28px;
  color: #d4d4d4;
  padding-bottom: 134px;
}

.header-content-btn {
  padding-bottom: 243px;
}

.header-content-btn :first-child {
  background: #18cfab;
  margin-right: 13px;
}
.header-content-btn :last-child {
  background: #00cbf6;
  margin-left: 13px;
}
/*Main*/

/*Advanages*/

.company-advantages {
  padding-top: 8px;
  display: flex;
}
.company-advantages a {
  flex-grow: 1;
}
.company-advantages-item {
  vertical-align: middle;
  padding-bottom: 110px;
  min-height: 377px;
  box-sizing: border-box;
}

.blue {
  background: #1c2a33;
  flex-grow: 1;
  color: #18cfab;
  text-transform: uppercase;
}
.blue img {
  padding: 95px 0 48px;
}
.green {
  background: #18cfab;
  flex-grow: 1;
  text-transform: uppercase;
}
.green img {
  padding: 105px 0 58px;
}

/*Services*/

.company-services-title {
  display: flex;
  padding-bottom: 28px;
  color: #717171;
  font-weight: normal;
  font-size: 16px;
  line-height: 39px;
}

.company-services-title div {
  flex-grow: 1;
  background: #f8fcfe;
  border: 1px solid #edefef;
  padding: 15px 30px;
  box-sizing: border-box;
  cursor: pointer;
}

.active-service-title {
  background: #18cfab !important;
  border: 1px solid #18cfab !important;
  position: relative;
}
.active-service-title::after {
  content: url(../img/services/xs.png);
  position: absolute;
  bottom: -27px;
  right: 43%;
  left: 43%;
}
.company-services-content {
  padding-bottom: 91px;
}
.company-services-content-item {
  display: none;
}
.active-service-item {
  display: flex;
  justify-content: space-between;
}
.company-services-content img {
  width: 192px;
  height: 139px;
}

.company-services-content p {
  font-size: 14px;
  color: #777777;
  width: 952px;
  text-align: start;
}
/*Install now*/
.install-product {
  background: url(../img/BG-02.png);
  padding: 126px 0;
}
.install-product h2 {
  padding-bottom: 12px;
  font-size: 40px;
  color: #18cfab;
}
.install-product p {
  line-height: 40px;
  color: #d8d8d8;
  padding-bottom: 62px;
}
/* Our Amazing Work */
.company-work {
  background: #e9edef;
  padding-bottom: 127px;
  position: relative;
} 

.company-work-title {
  display: flex;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}
.company-work-title div {
  box-sizing: border-box;
  padding: 0 12px;
  border: 1px solid #dadada;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
}
.company-work-title :first-child {
  padding-right: 28px;
  padding-left: 28px;
}
.company-work-img-item img {
  /*було добавлено, щоб фото з інтернету відповідали розміру дефолтних*/
  width: 285px;
  height: 206px;
}

.company-work-img {
  display: flex;
  flex-wrap: wrap;
  padding: 71px 0 60px;
}

.company-work-create {
  border-top: 5px solid #18cfab;
  width: 285px;
  height: 201px;
  position: relative;
}

.company-work-create img:first-of-type {
  position: absolute;
  top: 48px;
  left: 102px;
}
.company-work-create img:nth-of-type(3) {
  position: absolute;
  top: 61px;
  left: 116px;
}
.company-work-create img:nth-of-type(2) {
  position: absolute;
  top: 47px;
  right: 96px;
}
.company-work-create img:nth-of-type(4) {
  position: absolute;
  top: 63px;
  right: 110px;
}
.company-work-create img:nth-of-type(5) {
  position: absolute;
  top: 75px;
  right: 67px;
}
.company-work-create h3 {
  padding-top: 112px;
}
.company-work-create a {
  font-size: 14px;
  color: #18cfab;
  text-transform: uppercase;
}
.company-work-create p {
  font-size: 12px;
  color: #8a8a8a;
}
.company-work-create button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  z-index: 1;
  border: none;
  background: none;
}
.company-work-create button:nth-of-type(1) {
  position: absolute;
  top: 48px;
  left: 103px;
}
.company-work-create button:nth-of-type(2) {
  position: absolute;
  top: 47px;
  right: 96px;
}
/*News*/

.news-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 43px 36px;
  padding-bottom: 120px;
}
.news-content-item {
  position: relative;
}
.news-content-item h5 {
  font-size: 18px;
  color: #717171;
  text-align: start;
}
.news-content-item p {
  font-size: 14px;
  line-height: 39px;
  color: #777777;
  text-align: start;
}
.news-content-item-info {
  display: grid;
  position: relative;
  grid-template-columns: 2fr 3fr;
}

.news-content-item-info :last-child::before {
  content: "";
  position: absolute;
  border-right: 1px solid rgba(119, 119, 119, 0.5);
  height: 20px;
  left: 80px;
  bottom: 10px;
}
.news-content-item-date {
  position: absolute;
  background: #203e38;
  top: 0;
  right: 0px;
  padding: 10px 18px;
}

.news-content-item-date p {
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}

.news-content-item:hover.news-content-item {
  background: #f8fcfe;
}
.btn-load {
  position: relative;
  text-align: end;
  padding-right: 12px;
  padding-left: 52px;
}
.btn-load::before {
  content: url(../img/work/Forma.png);
  position: absolute;
  left: 10%;
  top: calc(50% - 14px);
}
/* What People Say About theHam  */
.user-comments h3 {
  text-transform: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 36px;
  position: relative;
  padding: 83px 0 101px;
}
.user-comments {
  background: url(../img/BG-03.png);
}
.user-comments-content {
  width: 1160px;
  position: relative;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.user-comments-content > div {
  position: absolute;
  bottom: 0;
}
.user-comments-content div img {
  border: 15px solid #104b4b;
  border-radius: 50%;
  width: 143px;
}
.user-comments-content p {
  padding-top: 36px;
  line-height: 30px;
  color: #bbbbbb;
  width: 1160px;
}
.user-comments-content p:last-of-type {
  padding-top: 0;
  font-size: 14px;
  padding-bottom: 38px;
}
.user-comments-content h6 {
  line-height: 27px;
  color: #18cfab;
  padding-top: 36px;
}

.user-comments-photo {
  padding: 57px 0 104px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 455px;
  align-items: center;
}
.user-comments-photo-box {
  display: flex;
}

.user-comments-photo-box-item {
  width: fit-content;
  box-sizing: border-box;
  position: relative;
  padding: 0 10px;
}
.user-comments-photo-box-item img {
  border: 7px solid #104b4b;
  border-radius: 50%;
}
.user-comments-photo-box-item:first-of-type {
  bottom: 10px;
}
.prevous-img,
.next-img {
  width: 31px;
  height: 31px;
  border: 1px solid #bbbbbb;
  background-color: inherit;
  box-sizing: border-box;
}
/*Gallery*/
.gallery {
  padding-bottom: 75px;
}
.gallery-box {
  padding-bottom: 52px;
}
.gallery-box > div {
  padding-bottom: 20px;
}
.gallery-box > div > img {
  width: 363px;
}
.gallery-box-small {
  width: 363px;
  height: 455px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.gallery-shadow {
  position: relative;
}
.gallery-shadow-item {
  filter: brightness(50%);
}
.gallery-shadow-btn {
  background-color: #14b9d5;
  width: 26px;
  height: 26px;
  border: none;
  box-sizing: border-box;
  position: absolute;
  padding: 0;
}
.gallery-shadow-btn:first-of-type {
  top: calc(50% - 13px);
  left: 45%;
}
.gallery-shadow-btn:last-of-type {
  top: calc(50% - 13px);
  left: 15%;
}

/*Fooret*/
footer {
  background: #22353f;
}
footer p {
  font-size: 14px;
  color: #aeaeae;
  padding: 48px 0;
}
footer a {color: #1ABC9E;}

/*Similar*/
.company-services h2::before,
.user-comments h3::before,
.news h2::before,
.company-work h2::before,
.gallery h2::before {
  content: "";
  position: absolute;
  top: 150px;
  right: calc(50% - 30px);
  width: 79px;
  border-bottom: 1px solid #18cfab;
}
.company-services h2::after,
.user-comments h3::after,
.news h2::after,
.company-work h2::after,
.gallery h2::after {
  content: "";
  position: absolute;
  top: 155px;
  left: calc(50% - 30px);
  width: 75px;
  border-bottom: 1px solid #18cfab;
}
.company-services h2,
.company-services h2,
.company-work h2 {
  font-weight: normal;
  font-size: 36px;
  text-transform: uppercase;
  color: #4e4e4e;
  position: relative;
  padding: 83px 0 101px;
}

.company-services h2,
.company-services h2,
.company-work h2,
.news h2,
.gallery h2 {
  font-weight: normal;
  font-size: 36px;
  text-transform: capitalize;
  color: #4e4e4e;
  position: relative;
  padding: 83px 0 101px;
}

.header-menu-item li :hover,
.news-content-item:hover.news-content-item h5 {
  color: rgba(24, 207, 171, 1);
  transition: 1s;
}
.company-services-title div:hover,
.company-work-title div:hover {
  border: 1px solid #18cfab;
  transition: 1s;
}

.prevous-img:hover,
.next-img:hover,
.news-content-item:hover .news-content-item-date {
  background: #18cfab;
  border: inherit;
  transition: 1s;
}
.display-none {
  display: none;
  text-align: center;
}
.spinner {
  height: 65px;
}
