body {
  font-family: "Arimo", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}
.table {
  border: 22px solid #3a4965;
  width: 1197px;
  height: 660px;
}
tr,
td,
th {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.column {
  background-color: #e3e3e3;
}

/*Header*/
.header-title {
  border: 10px solid #3a4965;
}
.header-title-item {
  vertical-align: middle;
  padding-top: 27px;
  padding-bottom: 27px;

  font-size: 14px;
  line-height: 28px;
  color: #484848;
}
.header-title-item :nth-child(2) {
  font-size: 20px;
  line-height: 28px;
  color: #484848;
}
/*Body*/
.body-content {
  text-align: center;
}
.green-title {
  background-color: #89c331;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
  vertical-align: middle;
  border-color: transparent;
}
.red-title {
  background-color: #f04a56;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
  vertical-align: middle;
  border-color: transparent;
}
.black-green-title {
  background-color: #20807c;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
  vertical-align: middle;
  border-color: transparent;
}
.body-content-title-type {
  /*НЕ працює*/
  font-size: 24px;
  line-height: 28px;
}
.body-content-title-price {
  padding-top: 13px;
  padding-bottom: 13px;
}
.body-content-title-price :nth-child(1) {
  font-size: 36px;
  line-height: 28px;
}
.body-content-title-price :nth-child(2) {
  font-size: 18px;
  line-height: 28px;

  vertical-align: 20px;
}
.body-content-title-price :nth-child(3) {
  font-size: 14px;
  line-height: 28px;

  vertical-align: 10px;
}
.body-content-title-btn {
  background-color: #414141;
  padding: 8px 40px;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  border-radius: 5px;
}
.body-content-title-item {
  vertical-align: middle;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #484848;
}
