/* html {
  overflow: hidden;
}
.main-page {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transform-style: preserve-3d;
}
.parallax-section {
  position: relative;
  transform-style: inherit;
}
.parallax-section ::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform-origin: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-1px);
}
.parallax-section-1 {
  background-image: url(../img/background/Layer.png);
  clip-path: polygon(0 0, 50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  height: 596px;
  z-index: -3;
}
.parallax-section-2 {
  background-image: url(../img/background/Rectangle2.png);
  clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%);
  height: 715px;
  z-index: -2;
}
.parallax-section-3 {
  background-image: url(../img/background/Rectangle3.png);
  clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  height: 715px;
  z-index: -1;
} */
/* --------------------------------------------------------- */
.paralax-section {
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
  background-attachment: scroll;
}
.container {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}
.container h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 40px;
  color: #14afca;
  text-transform: uppercase;
  padding-top: 164px;
}
.container h6,
.container p {
  font-size: 16px;
  line-height: 30px;
  color: #424f57;
  padding-top: 30px;
  padding-bottom: 40px;
}
.container h6 {
  font-weight: 700;
}
.section-testimonials h6,
.section-companies h6 {
  color: #ffffff;
}

/*Header*/
.header-container {
  background: url(../img/background/Layer.png) no-repeat fixed;
  background-size: cover;
  height: 596px;
  width: 100%;
  clip-path: polygon(0 0, 50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  background-attachment: fixed;
}
.header-menu {
  background: #ffffff;
  display: flex;
  text-align: center;
  position: relative;
  top: 30px;
}
.header-menu-name {
  flex: 40%;
  padding: 40px 0 37px;
}
.header-menu-name a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  text-decoration: none;
  color: #424f57;
}
.header-menu-name span {
  color: #14afca;
  text-transform: uppercase;
  font-weight: bold;
}
.header-menu-items {
  display: flex;
  flex: 60%;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
}
.header-menu-items a {
  text-decoration: none;
  color: #3e4c4e;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.header-menu-items :not(:last-child) {
  padding-right: 20px;
}
.header-menu-items a:hover {
  color: #14afca;
}
.header-slogan {
  text-align: center;
  position: relative;
  top: 180px;
  font-size: 52px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
}
/* WHAT */

/*Companies*/
.section-companies {
  background: url(../img/background/Rectangle2.png) no-repeat fixed;
  background-size: cover;
  height: 715px;
  clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%);
}
.companies-logo {
  padding-top: 41px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  row-gap: 51px;
}
.companies-logo a {
  color: #cbcbcb;
  text-decoration: none;
  font-size: 40px;
  font-weight: 700;
}

/*MeetUS*/
.container-content-photo {
  display: flex;
  justify-content: space-evenly;
}
.container-content-photo-item a {
  text-decoration: none;
  color: #424f57;
}
.container-content-photo-item p {
  padding-top: 22.5px;
  width: 309px;
}
/* testimonials */

.section-testimonials h2 {
  padding-top: 200px;
}
.section-testimonials {
  background: url(../img/background/Rectangle2.png) no-repeat fixed;
  background-size: cover;
  height: 715px;
  clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
.container-content-quote {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}
.container-content-quote :first-child {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
  color: #d3cccc;
}
.container-content-quote :last-child {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.45px;
  color: #ffffff;
  text-align: end;
  padding-top: 28px;
}

/*WHY*/
.section-why p {
  font-size: 30px;
  line-height: 48px;
  font-weight: bold;
}

/*Footer*/
.footer-content {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #3d3c3c;
  text-align: center;
  padding-top: 46px;
}
