.page {
  background-image: url(../img/background.png);
  background-size: cover;
}

.container {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  width: 1020px;
  margin: 0 auto;
}
/*HEADER/
/*Logo*/
.container div a {
  text-decoration: none;
  color: #ffffff;
}
.header {
  display: flex;
  padding-top: 51px;
  justify-content: space-between;
}

.header-logo a {
  display: flex;
}
.header-logo-svg {
  pointer-events: all;
}
.header-logo-photo {
  position: relative;
  bottom: 1px;
}
.header-logo-photo :last-child {
  position: absolute;
  left: 0;
  overflow: hidden;
  opacity: 0;
}
.header-logo:hover .header-logo-name {
  color: #f26522;
}

.header-logo:hover .header-logo-photo img {
  overflow: visible;
  opacity: 1;
}
/* .header-logo:hover .header-logo-svg #peVUnbl2L {
  fill: #f26522;
} */

.header-logo-name {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
  padding-left: 8px;
  padding-top: 2px;
}
.header-logo-name span {
  font-size: 18px;
  line-height: 18px;
}

/*Contacts*/
.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-contacts :first-child:hover {
  color: #f26522;
}
.header-contacts :last-child:hover {
  color: #f26522;
}

/*MAIN*/
.main {
  padding-top: 22px;
  display: grid;
  grid-template-columns: repeat(3, 310px);
  justify-content: space-between;
  row-gap: 27px;
}

.main-content img {
  width: 300px;
  height: 220px;
  border: 5px solid transparent;
  border-image: linear-gradient(#fff, #000);
  border-image-slice: 1;
}
.main-content-name {
  padding: 20px 0 10px;
  text-align: center;
}
.main-content-photo {
  position: relative;
  overflow: hidden;
}

.main-content-action {
  position: absolute;
  background: #f26522;
  box-sizing: border-box;
  right: 5px;
  left: 5px;
  bottom: -55px;
  padding: 10px 25px 7px 10px;
  font-size: 10px;
  line-height: 10px;

  transition: bottom 1s ease-in-out;
}

.main-content-action-item {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 20px;
}
.main-content-action-item::after {
  content: "\203A";
  position: absolute;
  font-size: 40px;
  color: #fff;
  top: 24px;
  right: 10px;
}
.main-content-action-item :last-child {
  font-size: 14px;
  line-height: 14px;
  align-self: center;
}
.main-content:hover .main-content-action {
  bottom: 5px;
  visibility: visible;
}
.main-content:hover .main-content-name {
  color: #f26522;
}

/*FOOTER*/
.footer {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding-top: 31px;
  padding-bottom: 15px;
}
