body {
  font-family: roboto, fantasy, emoji;
  font-style: normal;
  font-weight: normal;
}

/*Header*/
.header-container {
  width: 1280px;
  margin: 0 auto;
}
.title-link {
  text-decoration: none;
  display: flex;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  text-transform: uppercase;
  width: fit-content;
  padding-top: 63px;
  padding-bottom: 38px;
  box-sizing: content-box;
}
.title-link :last-child {
  color: #4bcaff;
}
.title {
  display: flex;
  justify-content: space-between;
}
.title button {
  height: 60px;
  margin-top: 80px;
  background-color: black;
  color: white;
  border: none;
}
.black {
  background-color: black;
  filter: invert(1);
}

.header-menu {
  display: flex;
  background-color: #35444f;
  font-size: 24px;
  align-items: center;
  text-transform: uppercase;
  list-style-type: none;
  justify-content: center;
}
.header-menu li {
  border-right: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  padding: 26px 23px 22px;
}
.header-menu :hover {
  background: #222f3a;
}
.header-menu :first-child {
  border-left: 1px solid #ffffff;
  padding-left: 20px;
}

/*Main*/
.main-container {
  width: 1280px;
  margin: 0 auto;
}
.main-page {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
}
.main-menu {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: fit-content;
  /*height: 400px;
  justify-content: space-around;*/
  border: 1px solid #000000;
}
.main-menu :hover {
  background: #dbdbdb;
  padding-left: 76px;
}
.main-menu li {
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  list-style-type: none;
  padding: 27px 0 27px 44px;
}
.main-box {
  display: flex;
  flex-direction: column;
  width: 885px;
}
.main-box-img {
  border: 1px solid #000000;
  flex-direction: column;
  align-items: center;
  width: 885px;
  height: 529px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.main-box-img img {
  /* Якщо не викорстовувати height та width в .main-box
  padding: 75px 268px 73px 297px;*/
  transition: 2s;
}
.main-box-img :hover {
  transform: scale(1.2);
}
.main-text {
  justify-content: space-around;
  font-size: 18px;
  line-height: 24px;
  flex-grow: 3;
  /*padding-left: calc(496px - (1480px - 1280px) / 2);*/
  padding-top: 37px;
  padding-bottom: 54px;
}
.main-text :first-child {
  padding-bottom: 34px;
}

/*Fotter*/

.footer-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  color: #0c1927;
  font-size: 28px;
  background: rgba(99, 105, 110, 0.48);
  font-size: 28px;
  padding: calc(69px / 2 - 28px / 2);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.footer-menu {
  list-style-type: none;
  justify-content: space-around;
  display: flex;
  flex: 2.5;
}
.footer-menu li {
  border-bottom: 1px solid transparent;
}

.footer-menu :hover {
  border-bottom-color: #3181a6;
  color: #3181a6;
}

.footer-container div {
  display: flex;
  flex: 1;
  justify-content: right;
  padding-right: 19.5px;
}
