* {
  margin: 0 auto;
  padding: 0;
}
body {
  background-color: #e5e5e5;
}
.page {
  background-color: #ffffff;
  width: 1280px;
  height: 1646px;
  /*height: fit-content;*/
}

/*Header menu*/
.header-img {
  background-image: url(./img/headerIMG.png);
  padding-top: 78px;
  padding-bottom: 758px;
  background-size: cover;
  width: 1280px;
}
.header {
  text-align: center;
}

.header-navbar-link {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 25.5px 0;
  margin: 0 30px;
}

.header-navbar-link-home {
  text-decoration: none;
  color: #ff0000;
  list-style-type: none;
  padding-right: 72px;
  font-family: "Montserrat";
  font-style: normal;
}

.header-navbar-link-photoapp {
  text-decoration: none;
  color: #ff0000;
  list-style-type: none;
  padding-right: 72px;
  font-family: "Montserrat";
  font-style: normal;
}
.header-navbar-link-design {
  text-decoration: none;
  color: #ff0000;
  list-style-type: none;
  padding-right: 50px;
  font-family: "Montserrat";
  font-style: normal;
}
.header-navbar-link-download {
  text-decoration: none;
  color: #ff0000;
  list-style-type: none;
  font-family: "Montserrat";
  font-style: normal;
}
/*Main menu*/
.content {
  width: 1145px;
  background: rgba(0, 0, 0, 0.0001);
  padding: 0 67.5px 0 67.5px;
}
.content-title {
  font-weight: bold;
  font-size: 22px;
  padding: 48px 0 38px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  color: #373737;
}
.content-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  font-family: "Montserrat";
  font-style: normal;
}
.content-text:nth-child(2) {
  margin-bottom: 28px;
}
.content-btn {
  margin: 66px 544.5px 0;
  width: 191px;
  height: 41px;
  background: #ff0000;
  border-radius: 4px;
  padding-top: 18px;
}
.content-btn-link {
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  padding-left: 43.5px;
  text-decoration: none;
  height: fit-content;
}

/*Footer*/
.footer-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
  float: right;
  margin-right: 105px;
  font-family: "Montserrat";
  font-style: normal;
  margin-top: 82px;
  margin-bottom: 29px;
}
