body {
  font-family: "Arimo", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #484848;
  text-transform: uppercase;
}
.table {
  border: 22px solid #3a4965;
  width: 1150px;
  height: 736px;
}
tr,
td,
th {
  border: 1px solid #dedede;
  border-collapse: collapse;
}

/*Header*/

.header-title-item {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  padding-top: 27px;
  padding-bottom: 17px;
}
.header-title :nth-child(1) {
  font-size: 18px;
  line-height: 28px;
  color: #484848;
  vertical-align: middle;
}
.header-title > :nth-child(2) {
  background-color: #89c331;
  border-color: transparent;
}

.header-title :nth-child(3) {
  background-color: #f04a56;
  border-color: transparent;
}
.header-title :nth-child(4) {
  background-color: #20807c;
  border-color: transparent;
}
.header-title-item-content {
  font-size: 30px;
}

.header-subtitle-item-content th {
  border-color: transparent;
  vertical-align: middle;
}
.header-subtitle-item-content > :nth-child(1) {
  font-size: 60px;
  line-height: 28px;
  padding: 26px 0 23px 33px;
}

.header-subtitle-item-content-text > div {
  border-color: transparent;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}
.header-subtitle-item-content-text :nth-child(2) {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}
.body-content {
  text-align: center;
}

.body-content:nth-child(1n) {
  background-color: #f2f2f2;
  height: 72px;
}
.body-content:nth-child(2n) {
  background-color: #e3e3e3;
  height: 72px;
}

.body-content-item {
  vertical-align: middle;
}

.foot-btn-item button {
  height: 52px;
  border-radius: 5px;
  padding: 20px 45px 18px 46px;
  vertical-align: middle;
  text-align: center;
}

.foot-btn-item {
  vertical-align: middle;
  text-align: center;
  height: 110px;
}
.foot-btn-item button {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
.green-btn {
  border: transparent;
  background: #89c331;
  border-bottom: 9px solid #79b027;
}
.black-btn {
  border: transparent;
  background: #484848;
  border-bottom: 9px solid #404040;
}
.red-btn {
  border: transparent;
  background: #f04a56;
  border-bottom: 9px solid #df3a46;
}
.black-green-btn {
  border: transparent;
  background: #20807c;
  border-bottom: 9px solid #16736f;
}
