.focus {
  outline: none;
  border: 1px solid rgb(106, 230, 106);
}
.blur {
  border-color: black;
}
input {
  border: 1px solid rgb(0, 0, 0);
}

.btn-price {
  padding: 0 3px;
  margin-left: 2px;
  color: rgb(106, 230, 106);
}

.input-not-value {
  border-color: red;
}
