body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.animation {
  position: relative;
  height: 100vh;
  perspective: 150px;
  background-color: #000;
  overflow: hidden;
  font-family: sans-serif;
  color: rgb(243, 210, 23);
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.animation-box {
  position: absolute;
  bottom: 0;
  animation: star-wars 30s infinite linear;
  right: 0;
  left: 0;
  top: 30%;
}
.animation-box h2 {
  padding-top: 5rem;
}
.animation-box p {
  padding-top: rem;
}
@keyframes star-wars {
  0% {
    transform: rotateX(25deg) translate3d(0, 25rem, 0);
  }

  100% {
    transform: rotateX(25deg) translate3d(0, -50rem, 0);
  }
}
