body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/*Similar classes*/

.section-heading {
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  display: flex;
  justify-content: center;
  padding: 49px 0 52px;
  text-transform: uppercase;
}
.menu-link-btn {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.content-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-decoration: none;
}
.content-subtitle {
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-decoration: none;
}

/*Header*/

.header-menu {
  background-color: #313131;
  display: flex;
}

.header-menu-logo {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 29px;
  flex-grow: 2;
}
.header-menu-logo-name {
  padding-left: 28px;
}

.header-menu-logo-name a {
  font-size: 22px;
  line-height: 30px;
}
.header-menu-title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1.5;
  text-align: center;
}
.header-menu-title-item {
  display: block;
  text-align: center;
}

.header-menu-title-item a {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
.header-menu-title-item :hover {
  color: #14b9d5;
}
.header-menu-search {
  display: flex;
  justify-content: flex-end;
  flex-grow: 3;
}

.header-menu-search-btn {
  background-color: #000000;
  border-color: transparent;
  padding: 23px 24px;
}

/*First background img + btn*/
.aside-menu {
  background: url(../img/Background/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /*Paralax*/
  height: 369px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside-menu-title {
  font-size: 27px;
  line-height: 37px;
  padding-top: 163px;
  padding-bottom: 44px;
}
.aside-menu-btn {
  display: flex;
}
.aside-menu-btn button {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 16px 29px 17px 30px;
  border-radius: 7px;
  border-color: transparent;
}
.aside-menu-btn :first-child {
  background: #89ca62;
  position: relative;
  right: 10px;
}
.aside-menu-btn :nth-child(2) {
  background: #14b9d5;
  position: relative;
  left: 10px;
}

/*MOST POPULAR POSTS*/

.section-content {
  display: flex;
  flex-flow: column wrap;
  max-height: 1000px;
  align-content: space-between;
}
.section-content-item {
  width: 370px;
  padding-bottom: 30px;
}
.section-content-item p {
  background-color: #f7f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  padding: 22px 0;
  display: flex;
  justify-content: center;
}
/*Second background img OUR MOST POPULAR CLIENTS*/
.aside-clients {
  background-image: url(../img/Background/Layer.png);
  background-attachment: fixed; /*Paralax*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 588px;
}
.aside-clients-title {
  padding-top: 106px;
  font-size: 32px;
  line-height: 44px;
  align-content: center;
  text-transform: uppercase;
  display: grid;
  justify-content: center;
}

.aside-clients div {
  grid-template-rows: 1fr 800px 1fr;
  padding: 197px 30px 0;
  display: grid;
  grid-template-columns: 265px 185px 282px 191px;
  justify-content: center;
  grid-template-rows: 50px;
  align-items: center;
}
.aside-clients a {
  width: fit-content;
}

/*Section Top Rated*/

.section-top-rated {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 271px);
}

/*Hot News*/
.section-news {
  display: grid;
  grid-template-columns: 277px 240px 240px 277px;
  grid-template-rows: 259px 418px 416px 259px;
  row-gap: 60px;
  padding-bottom: 77px;
  justify-content: space-around;
}
.section-news > :nth-child(1) {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 350px;
}
.section-news :nth-child(1) div {
  align-content: center;
  justify-content: center;
}
.section-news :nth-child(3) {
  grid-column: span 2;
}
.section-news :nth-child(4) {
  grid-column: span 2;
}
.section-news :nth-child(5) {
  grid-column: span 2;
}
.section-news :nth-child(6) {
  grid-column: span 2;
}
.section-news :nth-child(8) {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 350px;
}

.section-news-text {
  background-color: #f7f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  text-align: end;
}
.section-news-text h5 {
  padding: 14px 0 15px 0;
  padding-right: 14px;
}
.section-news-text p {
  padding-left: 13px;
  padding-right: 14px;
}
.section-news-text-title {
  padding-right: 28px;
}

/*Footer*/

.footer-section {
  background: #000000;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 25px 0 25px;
  align-items: center;
}
.footer-section p {
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
}
.footer-link {
  width: fit-content;
  justify-self: center;
}
