.page {
  background: url(../img/background.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

/*Header*/
.header-section {
  padding: 18px 79px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-link {
  transition: color 0.5s, fill 1s;
}

.header-logo {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  transition: color 0.5s;
}

.header-link:hover,
.header-link svg :hover {
  color: #236d47;
  fill: #236d47;
}
.header-menu {
  display: flex;
  flex-direction: row;
  position: relative;
}
.header-menu-socials {
  width: 140px;
  padding-right: 25px;
}
.header-menu p {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2.5px 0 2.5px 25px;
}

/*MAin*/
.form-section {
  width: 324px;
  margin: 0 auto;
  padding: 27px 60px 41px;
}
.page main {
  position: absolute;
  background-color: #fff;
  width: 444px;
  height: 584px;
  top: calc(50% - (292px - 58px));
  bottom: calc(50% - 292px);
  left: calc(50% - 222px);
  right: calc(50% - 222px);
  color: #434343;
}
.form-minibox {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 27px;
  background: #3cb878;
}

.form-header-entrance {
  padding-bottom: 15px;
}

.form-header-entrance p:first-of-type {
  font-size: 20px;
  line-height: 20px;
}
.form-header-entrance a:last-of-type {
  color: #3cb878;
  align-self: center;
}
.form-section .form-link {
  color: #3cb878;
  border-bottom: 1px solid transparent;
  transition: border 1s;
}
.form-link:hover {
  border-color: #3cb878;
}

.form-header-socialities button {
  border-radius: 5px;
  position: relative;
  width: 160px;
  height: 48px;
}
.form-header-socialities:last-child {
  margin-left: 5px;
}
.form-header-socialities span {
  padding: 0 20px 0 30px;
  text-align: center;
  vertical-align: middle;
}
.form-header-socialities span::before {
  content: "";
  border-left: 1px solid rgba(43, 13, 9, 0.1);
  height: 28px;
  position: absolute;
  left: 48px;
  top: 10px;
  bottom: 10px;
}
.form-header-socialities svg {
  vertical-align: middle;
}
.form-header-socialities button:first-child {
  background-color: #305db8;
  border: transparent;
}
.form-header-socialities button:first-child:focus {
  background: #022263;
}
.form-header-socialities button:last-child {
  background-color: #df4a32;
  border: transparent;
  position: absolute;
  right: 60px;
}
.form-header-socialities button:last-child:focus {
  background: #ab1f09;
}

.form-header-line {
  color: #848484;
  padding: 31px 0 10px;
  text-align: center;
  position: relative;
}
.form-header-line::before,
.form-header-line::after {
  content: "";
  width: 150px;
  position: absolute;
  bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 4px;
}
.form-header-line::before {
  left: 0;
}
.form-header-line::after {
  right: 0;
}
/*Main-form*/
.main-form {
  display: grid;
  grid-gap: 15px;
}

[class*="input"]:not(.input-checkbox) {
  box-sizing: border-box;
  width: 324px;
  height: 44.08px;
  padding: 15px;
  color: #bebebe;
}
[class*="input"]:not(.input-submit, .input-checkbox):focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.label-checkbox > input {
  position: absolute;
  z-index: -1;
  vertical-align: middle;
  opacity: 0;
}

.label-checkbox > span {
  position: relative;
  top: 5px;
  display: inline-flex;
  user-select: none;
}

.label-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #bebebe;
  border-radius: 4px;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-position: center center;
  background-size: 50% 50%;
  position: relative;
  bottom: 5px;
}

.label-checkbox > input:checked + span::before {
  background: url(../img/Checkbox.jpg) no-repeat;
  background-position: center;
}

.main-form .input-submit {
  background: rgba(60, 184, 120, 0.8);
}
.input-submit:focus {
  background: #01813f;
}

/*Similar*/
.header-section,
.header-link,
.form-header-socialities button,
.main-form .input-submit {
  color: #fff;
}

[class*="input"]:not(.input-checkbox),
.label-checkbox::before {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.header-section,
.header-menu-socials,
.form-header-entrance {
  display: flex;
  justify-content: space-between;
}
[class*="link"] {
  text-decoration: none;
}
.header-logo,
.header-menu {
  align-items: center;
}
